.pascal {
    padding: 54px 0px 64px 0px;
    min-height: 760px;;
    &__container {
        display: flex;
    }

    &__content {
        margin-left: 4%;
    }

    &__title {
        font-size: 64px;
        line-height: 116%;
        margin-bottom: 40px;
        @extend %ruber500;
        color: $titleclr;
        transform: translateX(-200%);
        animation: pascalTitle 1s forwards;
        & span:nth-child(1) {
            display: inline-block;
            width: 148px;
            height: 3px;
            background: #78C081;
            border-radius: 1.5px;
            margin: 0px 45px 20px 0px;
        }

        & span:nth-child(2) {
            color: #78C081;
            font-size: 64px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        }
    }

    @keyframes pascalTitle {
        0% {
            transform: translateX(-200%)
        }
        100% {
            transform: translateX(0)
        }
    }
    &__item-text {
        width: 100%;
    }
    &__sub-title {
        display: flex;
        align-items: center;
        font-size: 22px;
        line-height: 145%;
        margin-bottom: 50px;
        color: #528559;
        @extend %proxima400;
        transform: translateX(-200%);
        animation: pascalTitle 1s forwards;
        animation-delay: 0.5s;
    }

    &__circles {
        display: flex;
        column-gap: 10px;
        margin-right: 12px;
    }


    &__background img {
        position: absolute;
        top: 0;
        right: 200%;
        z-index: -1;
        height: 820px;
        width: auto;
        animation: pascalBackground 1s forwards;
    }
    @keyframes pascalBackground {
        0% {
            right: -200%;
        }
        100% {
            right: 0;
        }
    }

    &__content {
        width: 529px
    }

    &__contacts {
        display: flex;
        justify-content: space-around;
        margin-bottom: 70px;
        transform: translateX(-200%);
        animation: pascalTitle 1s forwards;
        animation-delay: 0.5s;
        .pascal__item {
            display: flex;
            column-gap: 20px;

            .pascal__number-text {
                color: #528559;
                @extend %proxima400;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__button {
        display: inline-block;
        padding: 33px 126px;
        cursor: pointer;
        background-color: $btn;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 17px;
        letter-spacing: 0.04em;
        box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
        border-radius: 30px;
        transition: background-color 0.3s ease 0s;
        outline: 10px solid rgba(255, 255, 255, 0.408);
        @extend %ruber500;
        &:hover {
            background-color: $btnHvr;
        }
        transform: translateX(-200%);
        animation: pascalTitle 1s forwards;
        animation-delay: 0.8s;
    }
    &__mob-background {
        display: none;
        // position: absolute;
        // bottom: 0;
        // top: 0;
        width: 100%;
        height: auto;
        z-index: -1;
        & img {
            width: 100%;
            height: auto;
        }
    }
}
@media (max-width: 1117px) {
    .pascal{
        &__background img{
            opacity: 0.6;
        }
    }
}
@media (max-width: 767.99px) {
    .pascal{
        min-height: 0;
        padding: 0px 0px 0px 0px;
        &__title {
            font-size: 37px;
            margin-bottom: 20px;
            & span:nth-child(1) {
                margin-bottom: 10px;
            }
            & span:nth-child(2) {
                font-size: 40px;
            }
        }
        &__sub-title {
            font-size: 17px;
            margin-bottom: 20px;
        }
        &__contacts {
            margin-bottom: 25px;
        }
        &__button {
            padding: 25px 89px;
        }
        &__background img{
            height: 500px;
        }
    }
}
@media (max-width: 424.99px) {
    .pascal {
        min-height: 0;
        &__content {
            margin-left: 0;
        }
        &__title {
            font-size: 27px;
            margin-bottom: 10px;
            & span:nth-child(1) {
                display: none;
            }
            & span:nth-child(2) {
                font-size: 25px;
            }
        }
        &__sub-title {
            font-size: 14px;
            margin-bottom: 20px;
        }
        &__contacts {
            margin-bottom: 25px;
        }
        &__item {
            column-gap: 10px !important;
        }
        &__item-text {
            font-size: 13px !important;
        }
        &__image {
            width: 25px;
            height: auto;
        }
        &__button {
            padding: 20px 50px;
            font-size: 16px;
        }
        &__background {
            display: none;
        }
        &__mob-background {
            display: block;
        }
    }
}