.scheme {
    padding: 0px 0px 100px 0px;
    &__title {
        font-size: 45px;
        line-height: 133%;
        text-transform: capitalize;
        color: #495E4C;
        margin-bottom: 100px;
        @extend %ruber500;
    }

    &__content {
        display: flex;
        justify-content: space-around;
        margin: 0 70px;
    }

    &__first-column {
        position: relative;
        max-width: 35%;

        .scheme__background {
            position: absolute;
            width: 890px;
            height: auto;
            top: -70px;
            left: 20%;
            z-index: -1;
        }

        .scheme__item:nth-child(2) {
            margin-bottom: 200px;
        }
    }

    &__second-column {
        position: relative;
        text-align: right;
        max-width: 35%;
        margin-top: 100px;

        .scheme__background {
            position: absolute;
            width: 638px;
            height: auto;
            top: -70px;
            left: -50%;
            z-index: -1;
        }
    }

    &__item {
        margin-bottom: 300px;
        position: relative;
        &:nth-child(3) {
            margin-bottom: 137px;
        }
        &.active {
            .scheme__item-title {
                animation: scheme-item 0.4s forwards;
                animation-delay: 1s;
            }
            .scheme__item-sub-title {
                animation: scheme-item 0.4s forwards;
                animation-delay: 1s;
            }
        }
    }
    @keyframes scheme-item {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    &__item-image {
        display: none;
    }

    &__item-title {
        font-size: 35px;
        text-transform: capitalize;
        color: #259834;
        line-height: 134%;
        opacity: 0;
        @extend %ruber500;
    }

    &__item-sub-title {
        line-height: 162%;
        color: #495E4C;
        opacity: 0;
        @extend %proxima400;
    }

    &__footer {
        position: relative;
    }

    &__bottom-title {
        text-align: center;
        font-size: 35px;
        line-height: 134%;
        text-transform: capitalize;
        color: #78C081;
        @extend %ruber500;
    }

    &__deal {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}

@media (max-width: 1024px) {
    .scheme {
        &__first-column {
            .scheme__background {
                top: -70px;
                left: -60%;
            }
            .scheme__item {
                margin-bottom: 100px;
            }
        }

        &__second-column {
            .scheme__background {
                left: -110%;
            }

            .scheme__item {
                margin-bottom: 100px;
            }
        }
    }
}

@media (max-width: 767.99px) {
    .scheme {
        &__content {
            justify-content: space-between;
            margin: 0px;
        }
        .scheme__item {
            margin-bottom: 300px;
        }
        &__title {
            font-size: 35px;
            margin-bottom: 50px;
        }
        &__first-column,
        &__second-column {
            max-width: none;
        }

        &__background {
            display: none;
        }

        &__second-column {
            margin-top: 200px;
        }

        &__item-title {
            font-size: 25px;
        }

        &__item-sub-title {
            font-size: 16px;
        }

        &__first-column {
            .scheme__item:nth-child(1) {
                & img {
                    position: absolute;
                    top: 0;
                    left: 90%;
                }
            }
            .scheme__item:nth-child(2) {
                margin-bottom: 300px;
                & img {
                    position: absolute;
                    top: -50px;
                    left: 90%;
                    width: 300px;
                }
            }
            .scheme__item:nth-child(3) {
                & img {
                    position: absolute;
                    top: 0;
                    left: 90%;
                }
            }
        }
        &__second-column {
            .scheme__item:nth-child(1) {
                margin-bottom: 300px;
                & img {
                    position: absolute;
                    top: 0px;
                    left: -60%;
                }
            }
            .scheme__item:nth-child(2) {
                margin-bottom: 350px;
                & img {
                    position: absolute;
                    top: 0px;
                    left: -60%;
                }
            }
            .scheme__item:nth-child(3) {
                margin-bottom: 90px;
                & img {
                    position: absolute;
                    top: 0px;
                    left: -60%;
                }
            }
        }

        &__item-image {
            display: block;
            width: 200px;
            height: auto;
            display: block;
            z-index: -1;
        }
    }
}
@media (max-width: 424.99px) {
    .scheme {
        &__title {
            font-size: 25px;
            margin-bottom: 20px;
        }
        &__item-title {
            font-size: 17px;
        }
        &__item-sub-title {
            font-size: 14px;
        }
        &__first-column {
            .scheme__item:nth-child(1),
            .scheme__item:nth-child(2) {
                margin-bottom: 236px;
            } 
        }
        &__second-column {
            .scheme__item:nth-child(1),
            .scheme__item:nth-child(2) {
                margin-bottom: 236px;
            }
            .scheme__item:nth-child(3) {
                margin-bottom: 40px;
            }
        }
        &__bottom-title {
            font-size: 24px;
        }
        &__deal {
            width: 100%;
            height: auto;
        }
        &__footer {
            margin-top: -70px;
        }
    }
}