$btn: #5CCD6A;
$btnHvr: #54E165;
$btnblock: #9CD3A3;


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}


html,
body {
    font-family: Proxima Nova;
    font-size: 16px;
    color: #0A0A0A;
    font-weight: 400;
    height: 100%;
    scroll-behavior: smooth;
}

body.stopped {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0;
}

.form__error {
    @extend %proxima400;
    margin-top: 20px;
    display: none;
    color: rgba(255, 0, 0, 0.805);
    text-transform: lowercase;
    &.active {
        display: block;
    }
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 1470px;
    margin: 0px auto;
    padding: 0px 15px;
}